html(lang="RU-ru")
  head
    <meta charset="UTF-8">
    <!--IE-to-EDGE-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--Scale-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dmitry Kryshtopa - Web Developer's portfolio</title>
    <!--SEO-->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Dmitry Kryshtopa">
    <!--favicon.ico-->
    
    <!-- build:css fonts/fonts.min.css -->
    <link rel="stylesheet" href="css/fonts/stylesheet.css">
    <!-- endbuild -->
    
    <!-- build:css css/main.min.css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- endbuild -->
    
    <!-- build:css css/vendor.min.css -->

    <!-- bower:css -->
    <link rel="stylesheet" href="bower/normalize-css/normalize.css">
    <link rel="stylesheet" href="bower/lightbox2/dist/css/lightbox.min.css">
    <!-- endbower -->
    <!-- endbuild -->
    
body
  .wrapper
    header.site-header
      .container
        .site-header__social
          ul.social__list
            each val, index in {facebook: "http://", "twitter": "http://", "github": "http://"}
              li.social__item
                a.social__link(href="" + val class="social__link_" + index + " " + "sprite-social " + "sprite-social-" + index,  target="_blank")= index
        .site-header__logo
          img.logo_img(src="images/logo.png" alt="Dmitry Kryshtopa logo")
        .site-header__greeting
          h1.greeting__h1 Dmitry Kryshtopa
          h2.greeting__h2 Web Developer's Portfolio
    nav.site-header__navigation
      .container
        ul.navigation__list
          each val, index in {about: "Home", rooms: "About", news: "Skills", photo: "Works", photos: "Pricing", contacts: "Contacts"}
            li.navigation__item
              a.navigation__link(href="" + index + ".html")= val
          
    section.main-section.main-section_about
      .container
        .main-section__aside
          .about__avatar    
            img.avatar__img(src="images/avatar.jpg", alt="Dmitry Kryshtopa")
        .main-section__content        
          h2.index__h2.about__h2 About Me
          p.about__text Отсюда естественно следует, что отношение к современности подрывает гравитационный парадокс, изменяя привычную реальность. Локаята транспонирует сложный закон исключённого третьего. Бабувизм рефлектирует сложный мир, однако Зигварт считал критерием истинности необходимость и общезначимость, для которых нет никакой опоры в объективном мире. Философия творит неоднозначный здравый смысл. Реальность, как следует из вышесказанного, осмысляет закон исключённого третьего. Отсюда естественно следует, что отношение к современности подрывает гравитационный парадокс, изменяя привычную реальность. Локаята транспонирует сложный закон исключённого третьего. Бабувизм рефлектирует сложный мир, однако Зигварт считал критерием истинности необходимость и общезначимость, для которых нет никакой опоры в объективном мире. Философия творит неоднозначный здравый смысл. Реальность, как следует из вышесказанного, осмысляет закон исключённого третьего.

    section.main-section.main-section_skills
      .container
        h2.index__h2.skills__h2 Skills
        .skills__container
          ul.skills__list
            each val, index in {"html5": "", "css3": "", "bem": "", "javascript": "", "jquery": "", "sass": "", "jade": "", "git": ""}
              li.skills__item
                .skills__icon(class="sprite-benefits " + ((index == "Просторные домики") ? " sprite-benefits-house" : "") + ((index == "Вкусная кухня") ? "  sprite-benefits-cuisine" : "") + ((index == "Замечательные пейзажи") ? " sprite-benefits-landscape" : ""))
                h3.skills__h3= index

    section.main-section.main-section_works
      .container
        h2.index__h2.works__h2 Works
        .works__gallery
          ul.works__list
            li.works__item
              a.works__link(href="" target="_blank")
                img.works__img
              a.works__h3(href="" target="_blank") work
              p.works__text Отсюда естественно следует, что отношение к современности подрывает гравитационный парадокс, изменяя привычную реальность. Локаята транспонирует сложный закон исключённого третьего.
            li.works__item
              a.works__link(href="" target="_blank")
                img.works__img
              a.works__h3(href="" target="_blank") work
              p.works__text Отсюда естественно следует, что отношение к современности подрывает гравитационный парадокс, изменяя привычную реальность. Локаята транспонирует сложный закон исключённого третьего. Бабувизм рефлектирует сложный мир, однако Зигварт считал критерием истинности необходимость и общезначимость, для которых нет никакой опоры в объективном мире.
            li.works__item
              a.works__link(href="" target="_blank")
                img.works__img
              a.works__link_git(href="" target="_blank")
                img.works__link_git-img
              a.works__h3(href="" target="_blank") work
              p.works__text Отсюда естественно следует, что отношение к современности подрывает гравитационный парадокс, изменяя привычную реальность. Локаята транспонирует сложный закон исключённого третьего. Бабувизм рефлектирует сложный мир, однако Зигварт считал критерием истинности необходимость и общезначимость, для которых нет никакой опоры в объективном мире.
            li.works__item
              a.works__link(href="" target="_blank") 
                img.works__img
              a.works__h3(href="" target="_blank") work
              p.works__text Отсюда естественно следует, что отношение к современности подрывает гравитационный парадокс, изменяя привычную реальность. Локаята транспонирует сложный закон исключённого третьего. Бабувизм.
            li.works__item
              a.works__link(href="" target="_blank") 
                img.works__img
              a.works__h3(href="" target="_blank") work
              p.works__text Отсюда естественно следует, что отношение к современности подрывает гравитационный парадокс, изменяя привычную реальность. Локаята транспонирует сложный закон исключённого третьего. Бабувизм рефлектирует сложный мир, однако Зигварт считал критерием истинности необходимость и общезначимость, для которых нет никакой опоры в объективном мире.
                
    section.main-section.main-section_price
      .container
        h2.index__h2.price__h2 Pricing
        ul.price__list
          each val, index in {"Simple": "Отсюда естественно следует, что отношение к современности подрывает гравитационный парадокс, изменяя привычную реальность. Локаята транспонирует сложный закон исключённого третьего. Бабувизм рефлектирует сложный мир, однако Зигварт считал критерием истинности необходимость и общезначимость, для которых нет никакой опоры в объективном мире.", "Onepage": "Реальность, как следует из вышесказанного, осмысляет закон исключённого третьего. Отсюда естественно следует, что отношение к современности подрывает гравитационный парадокс, изменяя привычную реальность. Локаята транспонирует сложный закон исключённого третьего. Бабувизм рефлектирует сложный мир, однако Зигварт считал критерием.", "Business": "Реальность, как следует из вышесказанного, осмысляет закон исключённого третьего. Отсюда естественно следует, что отношение к современности подрывает гравитационный парадокс, изменяя привычную реальность. Локаята транспонирует сложный закон исключённого третьего. Бабувизм рефлектирует сложный мир, однако Зигварт считал критерием."}
            li.price__item
              h3.price__h3= index
              //- .sprite-about(class="" + ((index == "Simple") ? " sprite-about-house-s" : "") + ((index == "Onepage") ? "  sprite-about-cuisine-s" : "") + ((index == "Business") ? " sprite-about-landscape-s" : ""))
              .price__text= val
                              
    //- section.main-section.main-section_brief
    //-   .container
    //-     h2.index__h2.brief__h2 Brief
    //-     p.index__text.brief__text     
              
    section.main-section.main-section_contacts
      .container
        h2.index__h2.how-to-get__h2 Contacts
        p.index__text Отсюда естественно следует, что отношение к современности подрывает гравитационный парадокс, изменяя привычную реальность. Локаята транспонирует сложный закон исключённого третьего.
        .main-section__aside
          address.contacts__content
            ul.contacts__list
              li.contacts__item
                h3.contacts__h3 Phone
                a.contacts__phone(href="tel:+79238448799") +7-923-844-87-99
              li.contacts__item
                h3.contacts__h3 Viber
                a.contacts__phone(href="tel:+79238448798") +7-923-844-87-98
              li.contacts__item
                h3.contacts__h3 E-mail
                a.contacts__mail(href="mailto:hello@malina-ostrov.ru") hello@malina-ostrov.ru
              li.contacts__item
                h3.contacts__h3 Social
                .site-header__social.contacts__social
                  ul.social__list
                    each val, index in {facebook: "http://", "twitter": "http://", "github": "http://"}
                      li.social__item
                        a.social__link(href="" + val class="social__link_" + index + " " + "sprite-social " + "sprite-social-" + index,  target="_blank")= index
        .main-section__content
          .contacts__contact-form
            h3.contact-form__h3 Напишите нам
            form.contact-form
              input.contact-form__input.contact-form__input_name(placeholder="Ваше имя" required)
              input.contact-form__input.contact-form__input_phone(placeholder="Телефон" required)
              textarea.contact-form__text(placeholder="Сообщение" required)
              button.contact-form__button(type="submit") Отправить
              .contact-form__requirement-text Все поля обязательны для заполнения
        
    .contacts__contact-form.contacts__contact-form_popup
      h3.contact-form__h3 Напишите нам
      form.contact-form
        input.contact-form__input.contact-form__input_name(placeholder="Ваше имя" required)
        input.contact-form__input.contact-form__input_phone(placeholder="Телефон" required)
        textarea.contact-form__text(placeholder="Сообщение" required)
        button.contact-form__button(type="submit") Отправить
        .contact-form__requirement-text Все поля обязательны для заполнения
    
    .slide-in.slide-in_message
      a.slide-in__content.slide-in__content_message send me a message
    .slide-in.slide-in_colors
      .slide-in__content.slide-in__content_colors
        ul.color-switch__list
          -var colors = ["orange", "lightblue", "black"]
          each color in colors
            li.color-switch__item(class="color-switch__item_" + color + ((color == "lightblue") ? " active" : "") style="background-color:" + color)
    .slide-in.slide-in_text-size
      a.slide-in__content.slide-in__content_text-size change text

  footer.site-footer
    .container
      p.site-footer__copyright © 2015
      p.site-footer__autor Made with love by 
        a.site-footer__link(href='/', target="_blank") Dmitry Kryshtopa
        
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="bower/jquery/dist/jquery.js"><\/script>');
      </script>
      <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
      
      <!-- build:js js/vendor.min.js -->            
      <!-- bower:js -->
      <script src="bower/jquery/dist/jquery.js"></script>
      <script src="bower/lightbox2/dist/js/lightbox.js"></script>
      <script src="bower/bPopup/jquery.bpopup.js"></script>        <!-- endbower -->
      <!-- endbuild -->
      
      <!-- build:js js/main.min.js -->
      <script src="js/main.js"></script>
      <!-- endbuild -->
